#header {
    color: red;
    font-family: Papyrus;
    font-size: 7vw;

    margin-top: 6%;
}
#subheading {
    font-family: Pompiere;
    font-size: 4vw;
    color: darkred;
}
#smallheader {
    color: red;
    font-family: Papyrus;
    font-size: 16pt;
}

#navmenu {
    margin-bottom: 4%;
}

#navbar {
    background-color: transparent;
    border-color: transparent;
}

#content {
    padding: 4px;
}

#side_content {
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 25px;
    /*width: 30%;*/
    border-radius: 5px;

    background-color: rgba(0, 71, 228, 0.3);

    font-family: Helvetica;
}

#footer {
    margin-top: 7%;
    border-radius: 5px;
    text-align: center;
}

#footer > p {
    font-family: Times;
}

.fb-activity, .fb-activity iframe[style], .fb-activity span {
    width: 100% !important;
}

.fb-like, .fb-like iframe[style], .fb-like span {
    width: 100% !important;
    /*vertical-align: center !important;*/
}

#bgimg {
    width: 90vw;
    display: inline-block;

    opacity:0.5;
}

#bgimgwrapper {
    text-align: center;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;

    margin-right: 5vw;
    margin-left: 5vw;

    height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, small {
    font-family: Tahoma;
}

a, p {
    font-size: 14pt;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-button {
    margin-left: 5px;
}

form#searchform > div > input,
form#searchform > div > button {
    background-color: #dddddd;
}