#header {
    color: red;
    font-family: Papyrus;
    font-size: 7vw;
}

body {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
}

#navmenu {
    margin-bottom: 4%;
}

#content {
    float: left;
    padding: 4px;
    width: 60%;
    max-width: 60%;
}

#side_content {
    float: right;
    padding: 4px;
    width: 37%;
    max-width: 37%;

    background: linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.6));
}

#footer {
    margin-top: 7%;
}